.podcast-thumb {
  @extend %boxContent;
  font-size: 0.8em;
  cursor: pointer;
  filter: $dropShadow;
  margin-top: 6em;
  text-align: center;
  &:hover {
    background: lighten($colorTheme, 30%);
    filter: drop-shadow(2px 4px 16px rgba(#fff, 0.5));
    color: #fff !important;
  }
  &__image {
    width: 8em;
    height: 8em;
    border-radius: 100%;
    overflow: hidden;
    margin: -6em auto 0;
    border: solid 1px #eee;
    background: $background;
    img {
      transform: scale(1.1);
      width: 8em;
      height: 8em;
    }
  }
  &__title {
    padding-top: 0.5em;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__subtitle {
    font-weight: normal;
    padding-top: 0.5em;
    opacity: 0.8;
  }
}
