.podcast-thumb {
  background: $background;
  padding: 1.6em;
  width: 30%;
  max-width: 200px;
  font-size: 0.8em;
  margin: 1em;
  display: inline-block;
  filter: $dropShadow;
  margin-top: 6em;
  text-align: center;
  &__image {
    margin: auto;
    width: min-content;

    border-radius: 100%;
    overflow: hidden;
    margin: -6em auto 0;
    border: solid 1px #eee;
    background: $background;
    img {
      max-width: 100px;
      transform: scale(1.1);
      min-width: 6em;
      min-height: 6em;
    }
  }
  &__title {
    padding-top: 0.5em;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__subtitle {
    font-weight: normal;
    padding-top: 0.5em;
  }
}
