body {
  margin: 0;
  font-family: "Roboto", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: $color;
  font-size:$fontSize;
  line-height: 1.3;
}
