$background-layout: rgb(218, 216, 216) !default;
$background: #fefefe !default;
$grey:#bbb;
$color: #666 !default;
$inverted-background: #747fad !default;
$inverted-color: #fff !default;
$shadow-color: #000 !default;
$colorTheme:#2F78BC;
$fontSize:16px;
$button-background: whitesmoke !default;
$button-color: #747fad !default;
$dropShadow:drop-shadow(2px 4px 16px rgba($shadow-color, 0.1));
$transition: all cubic-bezier(0.26, -0.42, 0.29, 1.06) 0.4s;
$basePadding: 1.6em;
// :export {
//   baseAnimationDuration: $baseAnimationDurationValue * 1000;
// }
%box-content{
  background: $background;
  padding: $basePadding;
  margin: 1em;
  width: auto;

  font-size: 0.8em;
}
// Utilitys
.is-disabled {
  opacity: 0.3 !important;
  pointer-events: none !important;
}
.is-animable {
  transition: $transition !important;
}

.podcast-page{
display:flex;
}

@mixin center_flex($direction:row) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

@import "fonts";
@import "reset";

@import "layout";
@import "modules";

@import "anims";
.podcast-list{
  display:flex;
  flex-wrap:wrap;
}
.podcast-list > *{
  align-self: baseline;
}
