.podcaster-card {
  @extend %boxContent;
  max-width: 270px;
  filter: $dropShadow;
  &__image {
    img {
      max-width: 100%;
      display: block;
      margin: auto;
    }
    margin: auto;
    width: 100%;
  }
  &__title {
    font-weight: bold;
  }
  &__subtitle {
    font-style: italic;
  }
  &__subtitle,
  &__description {
    b {
      padding-bottom: 0.5em;
      display: block;
    }

    font-weight: normal;
    padding-top: calc($baseSpacing / 2);
  }
}
