.podcaster-card {
  @extend %box-content;
  max-width: 200px;
  filter: $dropShadow;
  &__image {
    margin: auto;
    width: min-content;
  }
  &__title {
    font-weight: bold;
  }
  &__subtitle {
    font-weight: normal;
    padding-top: 0.5em;
    font-style: italic;
  }
  &__description {
    padding-top: 0.5em;
    font-style: italic;
    line-height: 1.2;
  }
  padding-top: 0.5em;
}
