.global-loading {
  background: $colorTheme;
  width: 1.2em;
  height: 1.2em;
  border-radius: 100%;
  &--active {
    @extend .global-loading;
    background: rgb(122, 28, 28);
    animation: tilt 0.5s infinite;
  }
}
@keyframes tilt {
  0% {
    background: rgb(122, 28, 28);
  }
  50% {
    background: rgb(228, 54, 54);
  }
  100% {
    background: rgb(122, 28, 28);
  }
}
