.episode-player {
  flex: 1;
  margin: 1em;
  @extend %box-content;
  filter: $dropShadow;
  &__header {
    padding: 1em 0.7em 0;
    font-weight: bold;
    font-size: 1.3em;
  }
  &__row {
    padding: 1em;
    margin-bottom:2em;
  }
}
