.episode-player  {
    flex:1;
    margin:1em;
    @extend %box-content;
&__header{
    color:$colorTheme;
    background: $background;
    padding: $basePadding;
    font-size:1.8em;
}
    &__row{
        padding:1em;
        border-top:1px solid #bbb;
    }
}