.filter-module {
  margin: 0 0 $baseSpacing;
  text-align: right;
  &__count {
    background: $colorTheme;
    color: $invertedColor;
    padding: 0 0.3em;
    border-radius: 8px;
    font-weight: bold;
    width: auto;
    min-width: 1.5em;
    font-size: 1.1em;
    text-align: center;
    display: inline-block;
  }
}
