.filter-module{
    &__count{
        background:$colorTheme;
        color:$inverted-color;
        padding:0.3em;
        border-radius:8px;
        font-weight:bold;
        width:auto;
        min-width:1.5em;
        text-align:center;
    display: inline-block;
    }
}